/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@s-cat-name: s-cat;
@s-cat-x: 0px;
@s-cat-y: 0px;
@s-cat-offset-x: 0px;
@s-cat-offset-y: 0px;
@s-cat-width: 258px;
@s-cat-height: 221px;
@s-cat-total-width: 774px;
@s-cat-total-height: 442px;
@s-cat-image: 'sprite.png';
@s-cat: 0px 0px 0px 0px 258px 221px 774px 442px 'sprite.png' s-cat;
@s-cat2-копия-(2)-name: s-cat2 - копия (2);
@s-cat2-копия-(2)-x: 258px;
@s-cat2-копия-(2)-y: 0px;
@s-cat2-копия-(2)-offset-x: -258px;
@s-cat2-копия-(2)-offset-y: 0px;
@s-cat2-копия-(2)-width: 258px;
@s-cat2-копия-(2)-height: 221px;
@s-cat2-копия-(2)-total-width: 774px;
@s-cat2-копия-(2)-total-height: 442px;
@s-cat2-копия-(2)-image: 'sprite.png';
@s-cat2-копия-(2): 258px 0px -258px 0px 258px 221px 774px 442px 'sprite.png' s-cat2 - копия (2);
@s-cat2-копия-(3)-name: s-cat2 - копия (3);
@s-cat2-копия-(3)-x: 0px;
@s-cat2-копия-(3)-y: 221px;
@s-cat2-копия-(3)-offset-x: 0px;
@s-cat2-копия-(3)-offset-y: -221px;
@s-cat2-копия-(3)-width: 258px;
@s-cat2-копия-(3)-height: 221px;
@s-cat2-копия-(3)-total-width: 774px;
@s-cat2-копия-(3)-total-height: 442px;
@s-cat2-копия-(3)-image: 'sprite.png';
@s-cat2-копия-(3): 0px 221px 0px -221px 258px 221px 774px 442px 'sprite.png' s-cat2 - копия (3);
@s-cat2-копия-name: s-cat2 - копия;
@s-cat2-копия-x: 258px;
@s-cat2-копия-y: 221px;
@s-cat2-копия-offset-x: -258px;
@s-cat2-копия-offset-y: -221px;
@s-cat2-копия-width: 258px;
@s-cat2-копия-height: 221px;
@s-cat2-копия-total-width: 774px;
@s-cat2-копия-total-height: 442px;
@s-cat2-копия-image: 'sprite.png';
@s-cat2-копия: 258px 221px -258px -221px 258px 221px 774px 442px 'sprite.png' s-cat2 - копия;
@s-cat2-name: s-cat2;
@s-cat2-x: 516px;
@s-cat2-y: 0px;
@s-cat2-offset-x: -516px;
@s-cat2-offset-y: 0px;
@s-cat2-width: 258px;
@s-cat2-height: 221px;
@s-cat2-total-width: 774px;
@s-cat2-total-height: 442px;
@s-cat2-image: 'sprite.png';
@s-cat2: 516px 0px -516px 0px 258px 221px 774px 442px 'sprite.png' s-cat2;
@spritesheet-width: 774px;
@spritesheet-height: 442px;
@spritesheet-image: 'sprite.png';
@spritesheet-sprites: @s-cat @s-cat2-копия-(2) @s-cat2-копия-(3) @s-cat2-копия @s-cat2;
@spritesheet: 774px 442px 'sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
